.listCardTours {
  background-color: #000000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 65px;
  padding-bottom: 70px;
  .toursCard {
    padding: 20px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    width: 900px;
    height: 270px;
    border-radius: 20px;
    position: relative;
    .like {
      position: absolute;
      right: 15px;
      top: 20px;
      font-size: 30px;
    }
    img {
      width: 550px;
      height: 230px;
      object-fit: cover;
      border-radius: 20px;
    }
    .cardText {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .infoTours {
        display: flex;
        flex-direction: column;
        gap: 20px;
        justify-content: center;
        padding: 0 10px 0 20px;
        h3 {
          font-size: 25px;
        }
        h6 {
          font-size: 15px;
          color: #000000b1;
        }
      }
      .btns {
        display: flex;
        padding-left: 20px;
        align-items: center;
        justify-content: space-between;

        .price {
          color: rgb(35, 33, 33);
          display: flex;
          align-items: center;
          gap: 5px;
          font-size: 18px;
        }
        .btn {
          display: flex;
          align-items: center;
          color: rgb(35, 33, 33);
          background-color: #000000;
          border-radius: 10px;
          padding: 5px 3px 5px 20px;
          gap: 10px;
          h3 {
            color: #ffffff;
          }
          button {
            background-color: #ffffff;
            border-radius: 50%;
            width: 40px;
            height: 40px;
            //   font-size: 20px;
          }
        }
      }
    }
  }
}
