@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "KyivTypeSerif", serif;
  text-decoration: none;
  /* outline: 1px solid blue; */
}
@font-face {
  font-family: "KyivTypeSerif";
  src: url("/font/Kyiv%20Type%20Serif/KyivTypeSerif-VarGX.ttf")
    format("truetype");
}

body {
  font-family: "KyivTypeSerif", serif;
}

.container {
  max-width: 1240px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}
p,
a {
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  transition: border-bottom 1s ease-in;
}

button {
  padding: 7px 14px;
  border-radius: 5px;
  border: none;
  transition: 0.7s;
}

button:hover {
  transform: scale(1.02);
}
